/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

/* Efeitos e Animações */
.parallax {

  background-image: url("Images/parallax.gif");

  min-height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.anim-text {
  color: white;
  animation-name: anim-text;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes anim-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  transition: ease-in-out 0.2s;
}

img:hover {
  transform: translateY(-8pt);
  filter: hue-rotate(90deg);
}

span {
  font-size: 25px;
  font-weight: bold;
}

.fade span {
  position: absolute;
  transform: translateX(-50%);
  transition: ease-in-out .5s;
}

.fade span:nth-child(2) {
  opacity: 0;
}

.fade span:nth-child(1) {
  opacity: 1;
}

.fade:hover span:nth-child(2) {
  opacity: 1;
}

.fade:hover span:nth-child(1) {
  opacity: 0;
}

/* Tags e Classes */
h2, p, b, span {
  color: #ffffff;
  font-family: 'Bitter', serif;
}

h1 {
  color: #ffffff;
  font-family: 'Arvo', serif;
}

h2 {padding-left: 300px;}

b {padding-left: 100px;}

p.desc {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  line-height: 25px;
}

iframe {
  height: 315px;
  width: 560px;
}

[class*="coluna-"] {
  width: 45%;
  float: left;
}

.coluna-imagem {text-align: right;}

.coluna-texto {}

/* Responsive Web */
@media only screen and (max-width: 600px) {
  [class*="coluna"] {
    width: 100%;
  }

  [class*="coluna-imagem"] {
    text-align: center;
  }

  [class*="desc"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  h2 {
    padding-left: 0px;
    text-align: center;
  }

  span {
    font-size: 27.5px;
  }

  p, b {
    font-size: 22.5px;
  }

  iframe {
    width: 95%;
  }
}